@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Protest+Guerrilla&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 { 
    font-family: "Protest Guerrilla", sans-serif;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8 px black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.card-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}
.cardtitle {
    font-size: 1.5em;
    margin: 20px 0 0 0;
    text-align: center;
}
.depoimento-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.depoimento {
    flex: 1;
    color: #555;
    margin: 0;
    text-align: center;
}
.logos-itens {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.logo-itens img {
    width: 100%;
    height: auto;
    display: block;/* remover o espaço abaixo da imagem*/
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
.logo-item img:hover {
    transform: scale(1.05); /*Aumenta a escala da imagem em 5% quando passa o mouse */
}
.card:hover {
    transform: scale(1.05); /*Aumenta a escala da imagem em 5% quando passa o mouse */
}
i {
    color: aqua;
}
.fa-wifi{
    color: red;
}